@model OneBox_WebServices.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Insert the email registred within the app.</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Recover password</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
}

