@model Dictionary<string, object>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--
    part for uploading files.    
-->

<form>
    <span>Select file(s) to upload :</span>
        <input id="file1" name="file1" type="file" multiple="multiple" />
    <input class="btn btn-primary" id="button1" type="button" value="Upload" />
</form>

