@model OneBox_WebServices.ViewModels.FileSystemViewModel

<div id="global-action">
    <ul class="horizontal">
        <li class="horizontal" data-toggle="modal" data-target="#new-folder-modal">folder </li>
        <li class="horizontal" data-toggle="modal" data-target="#upload-file-modal">upload </li>
        <li id="download-button" class="horizontal">download</li>



    
        
        </ul>
</div>
<!-- Modal -->
<div id="new-folder-modal" class="modal fade" role="dialog">
    @Html.Partial("NewFolderDialog");
</div>

<div id="upload-file-modal" class="modal fade" role="dialog">
    @Html.Partial("UploadFileDialog");
</div>



<div id="list_of_files">
    <!--
    TODO: the code from listoffiles is the same as here;....
    Done.            
    -->
    @Html.Partial("ListOfFiles");
</div>
<!--
    part for uploading files.    
-->
<!--
<form>
    <span>Select file(s) to upload :</span>
        <input id="file1" name="file1" type="file" multiple="multiple" />
    <input class="btn btn-primary" id="button1" type="button" value="Upload" />
</form>

<div class="jumbotron">

    <form action="~/Home/SaveDropzoneJsUploadedFiles" class="dropzone" id="dropzoneJsForm"></form>

    <button id="submit-all">Submit All Files</button>

</div>
-->
