<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload file</h4>
        </div>
        <div class="modal-body">
            <form action="~/api/UploadFile" class="dropzone" id="dropzoneJsForm">
            </form>
        </div>
        <div class="modal-footer">
            <button id="submit-all">Submit All Files</button>
        </div>
    </div>

</div>
