.list-currentpath-item{
    color:cadetblue;
    display:inline;
}

.list-currentpath-item:hover{
    color:red;
}

.table-of-files-row-item{
    cursor : pointer;
}

tr.highlighted td{
    background: #F2F2F2;
}

ul.horizontal{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    cursor:default;
}

li.horizontal{
    display: inline;
}


